<div class=" relative mt-20 z-0 2xl:mx-auto 2xl:container py-12 px-4 sm:px-6 xl:px-20 2xl:px-0 w-full">
<app-carousel></app-carousel>
        <div class="mx-auto max-w-screen-lg mt-4">

          <div *ngFor="let category of categories">
            <div class="flex space-x-2 h-8">
              <div class="w-80 border-gray-800 border-r-2 space-x-2 h-">
                <a href="" class="text-xl font-bold text-gray-800 flex no-underline hover:underline">
                  {{ category.name }}
                </a>
              </div>
              

              <div class="space-x-2">
                <a href="" class="flex items-center no-underline hover:underline">
                  <span class=" text-base text-gray-800">Ver todo</span>
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 mt-1 space-x-4">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12h15m0 0l-6.75-6.75M19.5 12l-6.75 6.75" />
                  </svg>
                </a>
              </div>
            </div>

              <span>Recomendados para ti</span>
            <section class="flex flex-col items-center bg-white relative -top-1">
                <app-product></app-product>
            </section>
          </div>
        </div>
    </div>

    <div class="relative mt- z-0 2xl:mx-auto 2xl:container py-12 px-4 sm:px-6 xl:px-20 2xl:px-0 w-full">
      <div class="mx-auto max-w-screen-lg">

        <div class="flex space-x-2 h-8">
          <div class="w-60 border-gray-800 border-r-2 space-x-2 h-">
            <a href="" class=" text-xl font-bold text-gray-800 flex no-underline hover:underline">Nuestros Recomendados</a>
          </div>
          <div class="space-x-2">
            <a href="" class="flex items-center no-underline hover:underline">
              <span class=" text-base text-gray-800">Ver todo</span>
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 mt-1 space-x-4">
                <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12h15m0 0l-6.75-6.75M19.5 12l-6.75 6.75" />
              </svg>
            </a>
          </div>
        </div>

      <div class="rounded-full flex space-x-3 mt-3">
        <a href="#" class="w-37 h-20">
          <img class="w-36 " src="https://i.ebayimg.com/images/g/lGsAAOSwBv1kIzPP/s-l200.webp" alt="">
          <p class="">Video Games</p>
        </a>

        <a href="#" class="w-37">
          <img class="w-36 " src="https://i.ebayimg.com/images/g/YEMAAOSwg1xkgLVJ/s-l200.webp" alt="">
          <p class="">Electronics</p>
        </a>

        <a href="#">
          <img class="w-36 " src="https://i.ebayimg.com/images/g/pUUAAOSwvqdkIzPZ/s-l200.webp" alt="">
          <p class="">Video Games</p>
        </a>

        <a href="#">
          <img class="w-36 " src="https://i.ebayimg.com/images/g/ut0AAOSwEIxkIzPu/s-l200.webp" alt="">
          <p class="">Video Games</p>
        </a>

        <a href="#">
          <img class="w-36 " src="https://i.ebayimg.com/images/g/Is8AAOSwAcZkIzP3/s-l200.webp" alt="">
          <p class="">Video Games</p>
        </a>

        <a href="#">
          <img class="w-36 " src="https://i.ebayimg.com/images/g/LY4AAOSwl4lkIzPj/s-l200.webp" alt="">
          <p class="">Video Games</p>
        </a>

        <a href="#">
          <img class="w-36 " src="https://i.ebayimg.com/images/g/50MAAOSwCS9kIzQD/s-l200.webp" alt="">
          <p class="">Video Games</p>
        </a>
      </div>
    </div>

  </div>

