A<app-navbar></app-navbar>
<!-- allcategory.component.html -->
<div class="bg-white mx-auto mt-16 2xl:mx-auto 2xl:container py-12 px-4 sm:px-6 xl:px-20 2xl:px-0 w-full">
    <div class="flex flex-col lg:flex-row">
        <!-- Side Bar with Categories -->
        <div class="w-40 pr-4">
            <div class="sticky top-32 w-56">
                <h1 class="text-2xl font-bold text-black mb-4">All Categories</h1>
                <ul class="leading-tight">
                    <li class="mb-4 no-underline hover:underline" *ngFor="let category of categories">
                        <a (click)="scrollToAnchor(category.name)">{{ category.name }}</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="ml-40 flex-1">
            <div class="grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-4"> <!-- Definimos las columnas responsivas -->
                <div class="mr-10" *ngFor="let category of categories">
                    <h1 class="text-xl font-bold text-black mb-4 mr-8" [id]="category.name">{{ category.name }}</h1>
                    <div class="bg-amber-100 flex justify-center items-center">
                        <img class="w-28" src="{{category.urlImage}}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>