<!DOCTYPE html>
<html>
<head>
  <title>Crear cuenta</title>
</head>
<body>
  <header>
    <div class="container">
      <img src="./assets/meitensaku.png" alt="Logo de la empresa" class="logo">
    </div>
  </header>
  <div class="container">
    <div class="form-container">
      <h1>Crear cuenta</h1>
      <div class="account-type">
        <label>

          <input type="radio" id="cuenta-personal" name="tipo-cuenta" value="personal" >
          Cuenta Personal
          &nbsp; &nbsp;
          <input type="radio" id="cuenta-empresarial" name="tipo-cuenta" value="empresarial" >

          Cuenta Empresarial

         
        </label>
      </div>



      <div class="form-row">
        <div class="form-group">
          <label for="nombre">Nombre</label>
          <input type="text" id="nombre" name="nombre" placeholder="Ingrese su nombre">
        </div>
        <div class="form-group">
          <label for="apellido">Apellido</label>
          <input type="text" id="apellido" name="apellido" placeholder="Ingrese su apellido">
        </div>
      </div>

      <div class="form-group">
        <label for="email">Correo electrónico:</label>
        <input type="text" id="email" name="email" placeholder="Ingrese su correo electrónico">
      </div>
      <div class="form-group">
        <label for="password">Contraseña:</label>
        <input type="password" id="password" name="password" placeholder="Ingrese su contraseña">
      </div>
      <div class="checkbox-group">
        <label>
          <input type="checkbox" name="terminos">
          Acepto los términos y condiciones
        </label>
      </div>
      <div class="submit-button">
        <button>Crear cuenta</button>
      </div>
    </div>


    <div class="social-login-container">
      <div class="social-login">
        <button class="google-button">
          <img src="https://www.freepnglogos.com/uploads/google-logo-png/google-logo-png-suite-everything-you-need-know-about-google-newest-0.png" alt="Logo de Google"> Iniciar sesión con Google
        </button>
        <button class="facebook-button">
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/51/Facebook_f_logo_%282019%29.svg/2048px-Facebook_f_logo_%282019%29.svg.png" alt="Logo de Facebook"> Iniciar sesión con Facebook
        </button>
      </div>
    </div>
  </div>
</body>
</html>
