<nav class="flex items-center justify-between bg-blue-700 p-4">
  <div class="flex items-center">
    <img src="./assets/meitensaku.png" alt="Logo" class="w-21 h-20 mr-5">
    <h1 class="text-white font-bold text-lg">SERVICIO AL CLIENTE</h1>
  </div>

</nav>



<!-- Resto del contenido de la página -->



<div class="container mx-auto p-4">


  <div class="flex">
    <div class="w-3/4 pr-4">
      <div class="bg-white p-4 rounded shadow mb-4">
        <div *ngFor="let message of chatMessages" class="mb-2">
          <p class="font-semibold">{{ message.sender }}</p>
          <p>{{ message.content }}</p>
        </div>
      </div>

      <div class="mb-8">
        <input class="border border-gray-300 px-3 py-2 w-full" [(ngModel)]="newMessage" placeholder="Escribe tu mensaje...">
        <button class="bg-blue-500 text-white px-4 py-2 mt-2" (click)="sendMessage()">Enviar</button>
      </div>
    </div>

    <div class="w-1/4">
      <div class="bg-white p-4 rounded shadow mb-4">
        <h2 class="text-lg font-bold mb-2">Preguntas Frecuentes</h2>
        <div *ngFor="let faq of frequentlyAskedQuestions" class="mb-4">
          <h3 class="text-base font-semibold" (click)="handleFAQClick(faq.question)">{{ faq.question }}</h3>
          <p class="text-gray-700">{{ faq.answer }}</p>
        </div>
      </div>

      <div class="bg-white p-4 rounded shadow">
        <h2 class="text-lg font-bold mb-2">Categorías</h2>
        <ul>
          <li class="mb-2" *ngFor="let category of categories">
            <a href="#" class="text-blue-500" (click)="handleCategoryClick(category)">{{ category }}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
