<div class="carousel-container overflow-hidden w-full">
    <div class="carousel-track w-full flex" [style.transform]="'translateX(-' + currentSlideIndex * 100 + '%)'">
      <ng-container *ngFor="let slide of categories">
        <div class="carousel-slide flex-shrink-0">
          <img [src]="slide.urlImage" [alt]="slide.name" class="w-full h-auto bg-cover">
        </div>
      </ng-container>
    </div>
    <div class="carousel-controls mt-2 text-center">
      <button class="btn btn-secondary mx-1" (click)="prevSlide()">Anterior</button>
      <button class="btn btn-secondary mx-1" (click)="nextSlide()">Siguiente</button>
    </div>
  </div>
