<app-navbar></app-navbar>
<section class="py-12 sm:py-16 mt-5">
    <div class="container mx-auto px-4">
        <div class="lg:col-gap-12 xl:col-gap-16 mt-8 grid grid-cols-1 gap-12 lg:mt-12 lg:grid-cols-5 lg:gap-16">
            <div class="lg:col-span-3 lg:row-end-1">
                <div class="lg:flex lg:items-start">
                    <div class="lg:order-2 lg:ml-5">
                        <div class="max-w-xl overflow-hidden rounded-lg">
                            <img class="h-11/12s w-11/12 max-w-full object-cover" src="https://i.ebayimg.com/images/g/0MgAAOSw765fyPd7/s-l1600.jpg"
                                alt="" />
                        </div>
                    </div>

                    <div class="mt-2 w-full lg:order-1 lg:w-32 lg:flex-shrink-0">
                        <div class="flex flex-row items-start lg:flex-col">
                            <button type="button"
                                class="flex-0 aspect-square mb-3 h-20 overflow-hidden rounded-lg border-2 border-gray-900 text-center">
                                <img class="h-full w-full object-cover" src="https://i.ebayimg.com/images/g/0MgAAOSw765fyPd7/s-l64.jpg"
                                    alt="" />
                            </button>
                            <button type="button"
                                class="flex-0 aspect-square mb-3 h-20 overflow-hidden rounded-lg border-2 border-transparent text-center">
                                <img class="h-full w-full object-cover" src="https://i.ebayimg.com/images/g/BhEAAOSwnF1fyPd8/s-l64.jpg"
                                    alt="" />
                            </button>
                            <button type="button"
                                class="flex-0 aspect-square mb-3 h-20 overflow-hidden rounded-lg border-2 border-transparent text-center">
                                <img class="h-full w-full object-cover" src="https://i.ebayimg.com/images/g/tUYAAOSww-ZfyPd9/s-l64.jpg"
                                    alt="" />
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="lg:col-span-3 lg:row-span-3 lg:row-end-3">
                <h1 class="sm: text-2xl font-bold text-gray-900 sm:text-3xl">{{productDetails.name}}</h1>

                <div class="mt-5 flex items-center">
                    <div class="flex items-center">
                        <svg class="block h-4 w-4 align-middle text-yellow-500" xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 20 20" fill="currentColor">
                            <path
                                d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
                                class=""></path>
                        </svg>
                        <svg class="block h-4 w-4 align-middle text-yellow-500" xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 20 20" fill="currentColor">
                            <path
                                d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
                                class=""></path>
                        </svg>
                        <svg class="block h-4 w-4 align-middle text-yellow-500" xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 20 20" fill="currentColor">
                            <path
                                d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
                                class=""></path>
                        </svg>
                        <svg class="block h-4 w-4 align-middle text-yellow-500" xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 20 20" fill="currentColor">
                            <path
                                d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
                                class=""></path>
                        </svg>
                        <svg class="block h-4 w-4 align-middle text-yellow-500" xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 20 20" fill="currentColor">
                            <path
                                d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
                                class=""></path>
                        </svg>
                    </div>
                    <p class="ml-2 text-sm font-medium text-gray-500">1,209 Reviews</p>
                </div>

                <h2 class="mt-8 text-base text-gray-900">Color del Reloj</h2>
                <div class="mt-3 flex select-none flex-wrap items-center gap-1">
                    <label class="">
                        <input type="radio" name="type" value="Powder" class="peer sr-only" checked />
                        <p
                            class="peer-checked:bg-black peer-checked:text-white rounded-lg border border-black px-6 py-2 font-bold">
                            Negro</p>
                    </label>
                    <label class="">
                        <input type="radio" name="type" value="Whole Bean" class="peer sr-only" />
                        <p
                            class="peer-checked:bg-black peer-checked:text-white rounded-lg border border-black px-6 py-2 font-bold">
                            Rojo</p>
                    </label>
                    <label class="">
                        <input type="radio" name="type" value="Groud" class="peer sr-only" />
                        <p
                            class="peer-checked:bg-black peer-checked:text-white rounded-lg border border-black px-6 py-2 font-bold">
                            Blanco</p>
                    </label>
                </div>

                <h2 class="mt-8 text-base text-gray-900">Choose subscription</h2>
                <div class="mt-3 flex select-none flex-wrap items-center gap-1">
                    <label class="">
                        <input type="radio" name="subscription" value="4 Months" class="peer sr-only" />
                        <p
                            class="peer-checked:bg-black peer-checked:text-white rounded-lg border border-black px-6 py-2 font-bold">
                            4 Months</p>
                        <span class="mt-1 block text-center text-xs">$80/mo</span>
                    </label>
                    <label class="">
                        <input type="radio" name="subscription" value="8 Months" class="peer sr-only" checked />
                        <p
                            class="peer-checked:bg-black peer-checked:text-white rounded-lg border border-black px-6 py-2 font-bold">
                            8 Months</p>
                        <span class="mt-1 block text-center text-xs">$60/mo</span>
                    </label>
                    <label class="">
                        <input type="radio" name="subscription" value="12 Months" class="peer sr-only" />
                        <p
                            class="peer-checked:bg-black peer-checked:text-white rounded-lg border border-black px-6 py-2 font-bold">
                            12 Months</p>
                        <span class="mt-1 block text-center text-xs">$40/mo</span>
                    </label>
                </div>

                <div
                    class="mt-10 ml-5 w0 flex items-center space-y-6 border-t border-b py-4 sm:flex-row sm:space-y-0">
                    <div class="flex items-end">
                        <h1 class="text-3xl font-bold">${{productDetails.price}}</h1>
                        <span class="text-base">/100.99 RD</span>
                    </div>

                      <div class="">
                        <div class="flex flex-wrap items-center justify-center">
                            <div class="w-5/12 p-1">
                              <button type="button" (click)="addToCart()"
                              class="flex items-center rounded-md border-2 border-transparent bg-gray-900 bg-none px-2 py-3 text-center text-base font-bold text-white transition-all duration-200 ease-in-out focus:shadow hover:bg-gray-800">
                              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="shrink-0 mr-3 h-5 w-5">
                                  <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 00-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 00-16.536-1.84M7.5 14.25L5.106 5.272M6 20.25a.75.75 0 11-1.5 0 .75.75 0 011.5 0zm12.75 0a.75.75 0 11-1.5 0 .75.75 0 011.5 0z" />
                              </svg>
                                Agregar al carrito
                              </button>

                          </div>
                          <div class="w-5/12 p-1">
                              <button type="button"
                              class="rounded-md flex items-center border-2 border-transparent bg-gray-900 bg-none px-5 py-3 text-center text-base font-bold text-white transition-all duration-200 ease-in-out focus:shadow hover:bg-gray-800">
                              <svg xmlns="http://www.w3.org/2000/svg" class="shrink-0 mr-3 h-5 w-5" fill="none"
                                  viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                  <path stroke-linecap="round" stroke-linejoin="round"
                                      d="M16 11V7a4 4 0 00-8 0v4M5 9h14l1 12H4L5 9z" />
                              </svg>
                              Comprar ahora
                              </button>
                          </div>
                          <div class="w-full p-4">
                            <button type="button"
                            class="w-full flex items-center rounded-md border-2 border-transparent bg-gray-900 bg-none px-5 py-3 text-center text-base font-bold text-white transition-all duration-200 ease-in-out focus:shadow hover:bg-gray-800 ">
                            <svg xmlns="http://www.w3.org/2000/svg" class="mr-2 h-6 w-6" fill="none" viewBox="0 0 24 24"
                            stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" />
                          </svg>
                              Agregar a lista de deseos
                            </button>
                          </div>
                        </div>




                </div>

                </div>

                <ul class="mt-8 space-y-2">
                    <li class="flex items-center text-left text-sm font-medium text-gray-600">
                        <svg class="mr-2 block h-5 w-5 align-middle text-gray-500" xmlns="http://www.w3.org/2000/svg"
                            fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M3.055 11H5a2 2 0 012 2v1a2 2 0 002 2 2 2 0 012 2v2.945M8 3.935V5.5A2.5 2.5 0 0010.5 8h.5a2 2 0 012 2 2 2 0 104 0 2 2 0 012-2h1.064M15 20.488V18a2 2 0 012-2h3.064M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                                class=""></path>
                        </svg>
                        Free shipping worldwide
                    </li>

                    <li class="flex items-center text-left text-sm font-medium text-gray-600">
                        <svg class="mr-2 block h-5 w-5 align-middle text-gray-500" xmlns="http://www.w3.org/2000/svg"
                            fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M3 10h18M7 15h1m4 0h1m-7 4h12a3 3 0 003-3V8a3 3 0 00-3-3H6a3 3 0 00-3 3v8a3 3 0 003 3z"
                                class=""></path>
                        </svg>
                        Cancel Anytime
                    </li>
                </ul>
            </div>

            <div class="lg:col-span-3">
                <div class="border-b border-gray-300">
                    <nav class="flex gap-4">
                        <a href="#" title=""
                            class="border-b-2 border-gray-900 py-4 text-sm font-medium text-gray-900 hover:border-gray-400 hover:text-gray-800">
                            Description </a>

                        <a href="#" title=""
                            class="inline-flex items-center border-b-2 border-transparent py-4 text-sm font-medium text-gray-600">
                            Reviews
                            <span
                                class="ml-2 block rounded-full bg-gray-500 px-2 py-px text-xs font-bold text-gray-100">
                                1,209 </span>
                        </a>
                    </nav>
                </div>

                <div class="mt-8 flow-root sm:mt-12">


                  <h1 class="text-3xl font-bold">Características del artículo</h1>
                  <div class="w-1/3 flex justify-between items-center my-10 mx-2">

                    <p class="mt-4">Disponibilidad
                    </p>
                    <p class="mt-4">{{productDetails.availability}}
                    </p>

                  </div>

                  <div class="w-1/3 flex justify-between items-center my-10 mx-2">
                    <p class="mt-4">
                    En almacenes
                    </p>
                    <p class="mt-4">{{productDetails.stock}}
                    </p>
                  </div>
                  <div class="w-1/3 flex justify-between items-center my-10 mx-2">
                    <p class="mt-4">
                      Peso
                    </p>
                    <p class="mt-4">{{productDetails.weight}}
                    </p>
                  </div>

                  <div class="w-1/3 flex justify-between items-center my-10 mx-2">
                    <p class="mt-4">
                      Direccion de entrega
                    </p>
                    <p class="mt-4">{{productDetails.address}}
                    </p>
                  </div>

                  <h1 class="mb-2 text-3xl font-bold">Descripción del artículo por parte del
                  vendedor
                  </h1>
                  <p class="mt-4">{{productDetails.description}}
                  </p>
                </div>
            </div>
        </div>
    </div>
</section>
